.card{
    padding: 10px;
    box-shadow: 0 0 5px #ffdfdf;
    border-radius: 5px;
    overflow: hidden;
}
.card .top{
    text-align: center;
}
.card p{
    font-weight: bold;
    color: blue;
}
.card button{
    outline: 0;
    border: 0;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 400;
    padding: 8px 13px;
    width: 100%;
    background-color: blue;
}
.card .drag-area{
    height: 150px;
    border-radius: 5px;
    border: 2px dashed blue;
    color: blue;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
    margin-top: 10px;
}
.card .drag-area .visible{
    font-size: 18px;
}
.card .select{
    color: blue;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.4s;
}
.card .select:hover{
    opacity: 0.6;
}
.card .container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 10px;
}

.card input,
.card .drag-area .on-drop,
.crad .drag-area.dragober .visible{
    display: none;
}

.delete{
    z-index: 999;
    color: blue;
}